<!--article-->
<p>
    <strong> Title:</strong>
    <%= @article.title %>
</p>

<p>
    <strong> Text:</strong>   
    <%= @article.text %> 
</p>

<!--show comments-->
<h2>Comments</h2>
<!--render will go through each comment-->
<%= render @article.comments %>

<!--add comments-->
<h2>Add a comment:</h2>
<!--render _form.html.erb in comments folder-->
<%= render "comments/form" %>


<%= link_to 'back button', articles_path %>
<%= link_to 'edit button', edit_article_path(@article) %>
